/* =============================================================================
 *
 * Waybar styles
 *
 * Styles reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

@keyframes blink-warning {
    70% {
        color: white;
    }

    to {
        color: white;
        background-color: orange;
    }
}

@keyframes blink-critical {
    70% {
      color: white;
    }

    to {
        color: white;
        background-color: red;
    }

}


/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
}

/* The whole bar */
#waybar {
    background-color: #323232;
    color: white;
    font-family: Cantarell, Noto Sans, sans-serif;
    font-size: 12px;
}

/* Each module */
#battery,
#clock,
#cpu,
#custom-keyboard-layout,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#tray {
    padding-left: 8px;
    padding-right: 8px;
}


/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    border-bottom: 2px solid #fabd2f;
}

#battery.warning {
    color: orange;
    border-bottom: 2px solid orange;
}

#battery.critical {
    color: red;
    border-bottom: 2px solid red;
}

#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

#clock {
    font-weight: bold;
    border-bottom: 2px solid #8ec07c;
}

#cpu {
   border-bottom: 3px solid #b8bb26;
}

#cpu.warning {
    color: orange;
}

#cpu.critical {
    color: red;
}

#memory {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    border-bottom: 3px solid #fe8019;
}

#memory.warning {
    color: orange;
    border-bottom: 3px solid orange;
}

#memory.critical {
    color: red;
    animation-name: blink-critical;
    animation-duration: 2s;
    border-bottom: 3px solid red;
}

#mode {
    background-color: #64727D;
    border-bottom: 2px solid white;
    /* To compensate for the top border and still have vertical centering */
    padding-top: 2px;
}

#network {
    border-bottom: 3px solid #458588;
}

#network.disconnected {
    color: orange;
    border-bottom: 3px solid orange;
}

#pulseaudio {
    border-bottom: 3px solid #a3be8c;
}

#pulseaudio.muted {
    border-bottom: 3px solid #bf616a;
}

#custom-spotify {
    color: rgb(102, 220, 105);
}

#temperature {
    border-bottom: 3px solid #ebcb8b;
}

#temperature.critical {
    color: red;
    border-bottom: 3px solid red;
}

#tray {
    border-bottom: 3px solid #5e81ac;
}

#window {
    margin-left: 32px;
    margin-right: 32px;
    font-weight: bold;
}

#custom-keyboard-layout {
   border-bottom: 2px solid #5e81ac;

}

#workspaces button {
    border-bottom: 2px solid transparent;
    /* To compensate for the top border and still have vertical centering */
    padding-top: 2px;
    padding-left: 12px;
    padding-right: 12px;
    color: #888888;
}

#workspaces button:hover {
  background: #323232;
  box-shadow: inherit;
  text-shadow: inherit;
}

#workspaces button.focused {
    border-bottom: 3px solid  #8fbcbb;
    color: #8fbcbb;
}

#workspaces button.urgent {
    border-bottom: 2px solid #c9545d;
    color: #c9545d;
} 
